:root {
  --tile: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath fill='%23fff' d='M0 0h4v1H0z' opacity='.1'/%3E%3Cpath d='M0 1h4v1H0z' opacity='.1'/%3E%3Cpath d='M2 0v4H1V0zm2 0v4H3V0z' opacity='.1'/%3E%3Cpath fill='%23fff' d='M0 2h4v1H0z' opacity='.1'/%3E%3Cpath d='M0 3h4v1H0z' opacity='.1'/%3E%3C/svg%3E");
  --placeholder: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='11.9' x2='7.7' y1='14.3' y2='10.1' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23916f6f'/%3E%3Cstop offset='1' stop-color='%23c8b7b7'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg opacity='.4' transform='translate(1 1) scale(3.66142)'%3E%3Cpath fill='%23483737' d='M8 4.6a.5.5 0 0 1-.7-.1l-2.1-3a.5.5 0 0 1 0-.8.5.5 0 0 1 .7.2l2.1 3a.5.5 0 0 1 0 .7zm.4 0a.5.5 0 0 0 .6-.1l2.2-3a.5.5 0 0 0-.1-.8.5.5 0 0 0-.7.2l-2.1 3a.5.5 0 0 0 0 .7z'/%3E%3Cpath fill='%236c5353' d='M1.5 16.3h14a1.5 1.5 0 0 0 1.4-1.5V5.3a1.5 1.5 0 0 0-1.4-1.5h-14A1.5 1.5 0 0 0 0 5.2v9.6a1.5 1.5 0 0 0 1.5 1.5z'/%3E%3Cg fill='%23ac9393'%3E%3Ccircle cx='14.7' cy='6.9' r='1.1'/%3E%3Ccircle cx='14.7' cy='10.5' r='1.1'/%3E%3C/g%3E%3Crect width='10.9' height='9.4' x='1.8' y='5.5' fill='%23c8b7b7' rx='1.2'/%3E%3Cpath fill='url(%23a)' d='m12.2 5.9-9.9 8.6c.3.3.6.4 1 .4h8.3a1 1 0 0 0 1.1-1v-7c0-.4-.2-.8-.4-1z'/%3E%3C/g%3E%3C/svg%3E");
}

* {
  outline: none;
}
html,
body,
small,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
.pure-g,
.pure-menu-heading,
.video-card-row {
  font-family: BlinkMacSystemFont, -apple-system, Open Sans, segoe ui, Roboto,
    Oxygen, Ubuntu, Cantarell, fira sans, droid sans, helvetica neue, Helvetica,
    Arial, sans-serif !important;
}
html {
 background: #272323 url(/logo_sm.svg) no-repeat center center / 40%;
 background-blend-mode: soft-light;
}
body {
  position: relative;
  font-size: 12pt;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  body {
    font-size: 11pt
  }
}
#contents {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.deleted {
  background-color: rgb(255, 0, 0,.5);
}
.channel-profile {
  position: relative;
  z-index: 10;
  animation: ease fade .1s 4s both;
  will-change: transform;
}
.channel-profile > * {
  font-size: 1.17em;
  font-weight: 700;
  vertical-align: middle;
}
.channel-profile > img {
  margin: 0 7px 0 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.4);
  position: relative;
  z-index: 10;
}
body a.channel-owner {
  padding: 1px 6px;
  color: #fff;
  border-radius: 9px;
  background-color: #008bec;
}
.creator-heart-container {
  margin: 0 -7px -4px 0;
  padding: 0 7px 6px 0;
  display: inline-block;
}
.creator-heart {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px;
}
.creator-heart-background-hearted {
  width: 16px;
  height: 16px;
  padding: 0;
  position: relative;
}
.creator-heart-small-hearted {
  position: absolute;
  right: -7px;
  bottom: -4px;
}
.creator-heart-small-container {
  position: relative;
  width: 13px;
  height: 13px;
  color: red;
}
.feed-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.feed-menu-item {
  text-align: center;
}
@media screen and (max-width: 640px) {
  .feed-menu-item {
    flex: 0 0 40%;
  }
}
.feed-menu a[href="/feed/trending"] {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M8 .7c-4.6 4.9-5.6 5.8-5.6 9a5.6 5.7 0 0011.2 0c0-3.2-1-4.1-5.6-9z' transform='matrix(.98603 0 0 .98638 .1 .1)'/%3E%3Cpath fill='%23fff' d='M8 4.8c-3.1 3.6-3.8 4-3.8 6a3.8 3.9 0 007.6 0c0-2-.7-2.4-3.8-6z'/%3E%3C/svg%3E") no-repeat center center / 20px, url(trending_hover.svg) no-repeat center center / 0;
  color: transparent;
}
.feed-menu a[href="/feed/trending"]:hover, .feed-menu a[href="/feed/trending"]:focus {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23c19f9f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M8 .7c-4.6 4.9-5.6 5.8-5.6 9a5.6 5.7 0 0011.2 0c0-3.2-1-4.1-5.6-9z' transform='matrix(.98603 0 0 .98638 .1 .1)'/%3E%3Cpath fill='%23c19f9f' d='M8 4.8c-3.1 3.6-3.8 4-3.8 6a3.8 3.9 0 007.6 0c0-2-.7-2.4-3.8-6z'/%3E%3C/svg%3E") no-repeat center center / 20px;
  color: transparent;
}
.feed-menu a[href="/feed/trending"]:hover, .feed-menu a[href="/feed/popular"]:hover {
  transform: scale(1.4);
}
.feed-menu a[href="/feed/popular"] {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M8 15.4a61.4 61.4 0 0 1-5.2-5C1.5 9.1.2 7.6 0 5.7c-.2-1.5.4-3.2 1.7-4.2C3.5 0 6.5.5 8 2.3a4.6 4.6 0 0 1 6.3-.8c1.3 1 1.9 2.7 1.7 4.2-.2 2-1.7 3.5-3 5l-5 4.7Z'/%3E%3C/svg%3E") no-repeat center center / 20px, url(popular_hover.svg) no-repeat center center / 0;
  color: transparent;
}
.feed-menu a[href="/feed/popular"]:hover, .feed-menu a[href="/feed/popular"]:focus {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23c19f9f' d='M8 15.4a61.4 61.4 0 0 1-5.2-5C1.5 9.1.2 7.6 0 5.7c-.2-1.5.4-3.2 1.7-4.2C3.5 0 6.5.5 8 2.3a4.6 4.6 0 0 1 6.3-.8c1.3 1 1.9 2.7 1.7 4.2-.2 2-1.7 3.5-3 5l-5 4.7Z'/%3E%3C/svg%3E") no-repeat center center / 20px;
  color: transparent;
}
.h-box {
  padding-left: 1em;
  padding-right: 1em;
}
.v-box {
  padding-top: 1em;
  padding-bottom: 1em;
}
div {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.loading {
  display: inline-block;
  animation: spin 2s linear infinite;
}
.playlist-restricted {
  height: 20em;
  padding-right: 10px;
}
body a.pure-button {
  color: rgba(0, 0, 0,.8);
}
button.pure-button-primary,
body a.pure-button-primary,
.channel-owner:hover {
  background-color: #a0a0a0;
  color: #272323;
}
button.pure-button-primary:hover,
body a.pure-button-primary:hover {
  background-color: #00b6f0;
  color: #fff;
}
.thumbcontainer {
  contain: layout;
}
div.thumbnail {
  padding: 28.125%;
  position: relative;
  box-sizing: border-box;
  contain: layout;
}
div.thumbnail::before {
  content: "";
  display: block;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  z-index: 100;
  pointer-events: none;
  background: var(--tile) repeat center center / 4px;
  mix-blend-mode: color-burn;
}
div.thumbnail:hover::before, div.thumbnail:hover::after {
  pointer-events: none;
}
div.thumbnail::after {
  content: "";
  display: block;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  z-index: 1;
  z-index: 999;
  background:var(--placeholder) no-repeat center center / 20%;
  mix-blend-mode: overlay;
  animation: ease fade-out .1s 3.5s both !important;
}
div.thumbnail:hover::before {
  background: rgba(255,128,0,.3);
  mix-blend-mode: soft-light;
}
img.thumbnail {
  padding: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 0 3px #aaa;
  object-fit: cover;
  background: url(/nothumb.svg) no-repeat center center / calc(100% - 8px) calc(100% - 8px);
  animation: ease fade .1s 3.5s both, linear remove-bg .1s 45s both;
  will-change: transform;
  contain: strict;
}
:-moz-broken {
  display: none !important;
}
div.thumbnail:hover img {
  box-shadow: inset 0 0 0 1px #000, inset 0 0 0 3px #ca7740;
}
div.thumbnail:active img {
  transform: scale(.99);
}
.yt_uploaded, .yt_buttons {
  z-index: 300;
}
.length {
  padding: 2px 8px;
  position: absolute;
  right: 4px;
  bottom: -0.75em;
  z-index: 100;
  color: #fff;
  background-color: rgba(0,0,0,.65);
  animation: ease fade .1s 4.5s both;
}
.watched {
  padding: 4px 8px;
  position: absolute;
  left:.2em;
  top: -0.7em;
  z-index: 100;
  font-size: 16px;
  color: #fff;
  border-radius: 2px;
  background-color: rgba(0,0,0,.65);
}
.navbar {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar > div {
  flex: 1;
}
.searchbar {
  flex-grow: 2;
}
.navbar a {
  padding: 0;
}
.navbar .index-link {
  font-weight: 700;
  display: inline;
}
.searchbar .pure-form {
  position: relative;
}
.searchbar .pure-form input[type="search"] {
  margin-bottom: 1px;
  padding: initial 0;
  max-width: 600px;
  border: none;
  border-radius: 0;
  box-shadow: 0 0;
  -webkit-appearance: none;
  font-weight: 600;
  font-size: 110%;
}
.searchbar .pure-form::after {
  width: 70%;
  height: 1px;
  box-sizing: border-box;
  position: absolute;
  bottom: -4px;
  left: 15%;
  right: 15%;
  background: linear-gradient(to right, rgba(0,0,0,0), #999, rgba(0,0,0,0));
  content: "";
  display: inline-block;
}
.searchbar .pure-form:focus-within::after {
  background: linear-gradient(to right, #555, #bbb, #555);
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  background-size: 14px;
}
.searchbar .pure-form fieldset {
  padding: 0;
}
.user-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 150%;
}
.user-field div {
  width: initial;
}
.user-field div:not(:last-child) {
  margin-right: 1em;
}
@media only screen and (max-aspect-ratio: 16/9) {
  .player-dimensions.vjs-fluid {
    padding-top: 46.86% !important;
  }
  #player-container {
    padding-bottom: 46.86% !important;
  }
}
@media screen and (max-width: 767px) {
  .navbar {
    flex-direction: column;
  }
  .navbar > div {
    display: flex;
    justify-content: center;
  }
  .navbar > div:not(:last-child) {
    margin-bottom: 1em;
  }
  .navbar > .searchbar > form {
    width: 60%;
  }
  h1 {
    font-size: 1.25em;
    margin:.42em 0;
  }
}
@media screen and (max-width: 320px) {
  .navbar > .searchbar > form {
    width: 100%;
    margin: 0 1em;
  }
}
.video-card-row {
  margin: 15px 0;
  border-top: 1px solid rgba(255,255,255,.1);
}
.video-card-row .video-data + .video-data {
  font-weight: 600;
}
.flexible {
  display: flex;
}
.flex-left {
  flex: 1 1 100%;
  flex-wrap: wrap;
}
.flex-right {
  flex: 1 0 max-content;
  flex-wrap: nowrap;
}
p.channel-name {
  margin: 0;
  animation: ease fade .1s 4s both;
}
p.video-data {
  margin: 0;
  font-weight: 700;
  font-size: 80%;
}
footer {
  color: #919191;
  margin-top: auto;
  padding: 1.5em 0;
  text-align: center;
  max-height: 30vh;
}
footer a {
  color: #919191 !important;
  text-decoration: underline;
}
footer span {
  margin: 4px 0;
  display: block;
}
@keyframes spin {
  0% {transform: rotate(0)}
  100% {transform: rotate(360deg)}
}
fieldset > select,
span > select {
  color: #313133;
}
.pure-control-group label {
  vertical-align: top;
  word-wrap: normal;
}
a:hover,
a:active,
summary:hover {
  color: #ca7740;
}
a {
  color: #c19f9f;
  text-decoration: none;
  font-weight: 600;
}
body {
  background-color: #272323;
  color: #f0f0f0;
}
.pure-form legend {
  color: #f0f0f0;
}
.pure-menu-heading {
  color: #f0f0f0;
}
.searchbar input {
  background-color: inherit;
  color: inherit;
}
.no-theme a:hover,
.no-theme a:active {
  color: #00b6f0;
}
.no-theme a {
  color: #a0a0a0;
  text-decoration: none;
}
body.no-theme {
  background-color: #272323;
  color: #f0f0f0;
}
.no-theme .pure-form legend {
  color: #f0f0f0;
}
.no-theme .pure-menu-heading {
  color: #f0f0f0;
}
.no-theme input,
.no-theme select,
.no-theme textarea {
  color: #272323;
}
.no-theme .pure-form input[type="file"] {
  color: #f0f0f0;
}
.no-theme .searchbar input {
  background-color: inherit;
  color: inherit;
}
hr {
  margin: 10px 0;
  border: none;
  height: 1px;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,.1), rgba(0,0,0,0));
}
#filters {
  display: inline;
  margin: 15px 5px 10px;
}
#filters > div {
  display: inline-block;
}
#filters > summary {
  margin-bottom: 15px;
  display: block;
  position: relative;
  cursor: pointer;
}
#filters > summary .toggle {
  margin: 0 20px -8px 0;
  display: inline-block;
  font-size: 130%;
  cursor: pointer;
}
details#filters {
  display: inline;
  margin: 15px 5px 10px;
  background: rgba(0,0,0,.3);
  padding: 12px 0 0;
  position: relative;
  text-align: right;
  border-radius: 8px;
}
summary + #filters {
  padding: 20px;
  border-radius: 0 0 8px 8px;
  background: #151313;
  position: absolute;
  top: 35px;
  left: -5px;
  right: -5px;
  z-index: 9999;
  line-height: 1;
  text-align: left;
  font-size: 90%;
}
summary + #filters .pure-u-1-3.pure-u-md-1-5 {
  padding: 5px 10px 0;
  width: calc(20% - 20px);
}
@media screen and (max-width: 800px) {
  summary + #filters .pure-u-1-3.pure-u-md-1-5 {
    width: calc(50% - 20px)
  }
}
@media screen and (max-width: 600px) {
  summary + #filters .pure-u-1-3.pure-u-md-1-5 {
    width: calc(100% - 20px)
  }
}
summary + #filters hr {
  margin: 10px 0;
  border: none;
  height: 1px;
  background: linear-gradient(to right, rgba(255,255,255,.1), rgba(0,0,0,0));
}
#descexpansionbutton {
  display: none;
}
#descexpansionbutton ~ div {
  overflow: hidden;
  height: 8.3em;
}
#descexpansionbutton:checked ~ div {
  overflow: unset;
  height: 100%;
}

#descexpansionbutton ~ label {
  order: 1;
  margin-top: 20px;
}
#description-box {
  position: relative;
}
#showmore {
  position: absolute;
  bottom: 1px;
  left: 2px;
  right: 2px;
  z-index: 500;
  width: calc(100% - 4px);
  background: #f00;
  height: 40px;
  text-align: center;
  font-size: 20pt;
  vertical-align: middle;
  line-height: 40px;
  border-radius: 0 0 2px 2px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #353333 65%);
  cursor: pointer;
}
#descexpansionbutton:checked ~ #showmore {
  background: transparent;
}
#showmore a:not(:hover):not(:focus):not(:active) {
  color: #fff;
}
h1, h2, h3, h4, h5, p,
#descriptionWrapper,
#description-box {
  unicode-bidi: plaintext;
  text-align: start;
}
#descriptionWrapper, .channel-profile span {
  position: relative;
  z-index: 8;
  background: #353333;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.4);
}
.channel-profile span {
  margin-left: -52px;
  padding: 4px 20px 4px 50px;
  z-index: 9;
  border-radius: 0 20px 20px 0;
}
.channel-profile > img {
  z-index: 10;
}
#descriptionWrapper {
  margin-top: -12px;
  padding: 24px 26px 4px;
}
#description-box #descriptionWrapper {
  margin-top: 0;
  padding: 12px 20px 14px;
}
#logo > h1 {
  text-align: center;
}
#privacyinfo, #siteinfo {
  margin: 1% auto 2%;
  padding: 2% 5%;
  width: 80%;
  min-width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2);
  background: rgba(255,255,255,.1);
}
#banner {
  padding: 2px 10px 6px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-top: 1px solid rgba(255,255,255,.1);
  background: #1d1b1b;
  contain: content;
  animation: ease fade .1s 4.5s both;
}
#banner small {
  display: inline-block;
  line-height: 1.3;
  font-weight: 600 !important;
  font-size: 73%;
}
footer {
  display: none;
}
#logo h1.pure-menu-heading {
  margin: -5% 0 5%;
  width: 100%;
  font-size: 0 !important;
}
#logo h1.pure-menu-heading::after {
  width: 100%;
  height: 120px;
  display: inline-block;
  content: "";
  background: url(/logo_sm.svg) no-repeat center center / 36%;
}
@media screen and (max-width: 1000px) {
  #logo h1.pure-menu-heading::after {
    margin: -30px 0;
    background-size: auto 52%;
  }
}
a, u {
  text-decoration: none !important;
}
input[type="search"] {
  text-align: center;
}
input[type="search"]::placeholder {
  font-style: italic;
  opacity: .4;
}
input[type="search"]:focus::placeholder {
  color: transparent;
}
.feed-menu::after {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  display: inline-block;
  background: linear-gradient(to right,rgba(0, 0, 0, 0),rgba(255,255,255,.1),rgba(0, 0, 0, 0));
  content: "";
}
.pure-menu-heading {
  font-weight: 700;
  letter-spacing:.05em;
}
.pure-g {
  margin-bottom: 20px;
}
.pure-g.h-box {
  margin: -7px 0 -14px;
}
.pure-g.navbar.h-box {
  margin: 0;
}
.pure-u-1.pure-md-1-3 {
  margin: 0 auto;
  width: auto;
  display: inline-block;
  text-align: center;
}
.imagethumb {
  position: relative;
  font-size: 90%;
  animation: ease fade .1s 2s both;
}
.imagethumb p:not(.length)[dir="auto"] {
  margin: 5px 0 -10px;
  line-height: 1.25;
  font-size: 85%;
  font-weight: 600;
}
.imagethumb .icon-buttons {
  padding: 3px 4px;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 18px;
  background: rgba(0,0,0,.65);
  animation: ease fade .1s 4s both;
}
.imagethumb .icon-buttons .icon {
  margin: -1px 1px 0;
  padding: 0 2px;
  display: inline-block;
  font-size: 120%;
}
.imagethumb .icon-buttons .icon:hover {
  transform: scale(1.2);
}
.imagethumb .authorthumb + p.channel_name {
  font-size: 120% !important;
  font-weight: 900 !important;
}
#hosting a {
  font-weight: 700;
}
#toggle_theme {
  display: none;
}
.imagethumb .vid_title {
  margin-bottom: -9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4 !important;
  contain: content;
  animation: ease fade .1s 4s both;
}
.pure-g.h-box.pagenav {
  margin: -12px -9px 14px;
}
#filters + hr + .pagenav {
  display: none;
}
.imagethumb .yt_author p.channel-name:empty {
  height: 15px;
  background: none;
}
.authorthumb {
  margin: -4px -40px 0 2px;
  width: 128px;
  height: 128px;
  display: inline-block;
  float: left;
}
.authorthumb img {
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.4);
  width: 68px !important;
  height: 68px !important;
}
#channel-banner {
  position: relative;
}
#channel-banner::before {
  content: "";
  width: calc(100% - 36px);
  height: calc(100% - 10px);
  display: block;
  position: absolute;
  margin: auto;
  top: 4px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background:  var(--tile) repeat center center / 4px;
  mix-blend-mode: multiply;
  contain: strict;
}
#channel-banner img {
  padding: 4px;
  width: calc(100% - 8px) !important;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 0 2px #333, inset 0 0 0 3px #565353;
}
.channel_desc {
  margin-top: -30px;
  padding-top: 20px;
  width: 100%;
  display: inline-block;
  clear: both;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,.1);
}
.subscribers, .subscribers + p {
    line-height: 1;
    margin: 15px 0 0;
    padding-bottom: 0;
    display: inline-block;
    width: calc(100% - 100px);
}
.subscribers + p {
  margin-top: -10px;
}
.index-link.pure-menu-heading {
  width: 200px;
  height: 48px;
  display: inline-block;
  background: url(/logo_sm.svg) no-repeat center center / 200px;
  color: transparent;
  opacity: .7;
}
.index-link.pure-menu-heading:hover,
.index-link.pure-menu-heading:focus {
  opacity: 1;
  color: transparent;
}
.index-link.pure-menu-heading:active {
  transform: scale(.9);
}
#comments {
  display: none;
}
#comments .pure-g {
  padding-left: 40px;
  width: calc(100% - 40px) !important;
  border-radius: 8px;
  background: rgba(255,255,255,.1);
}
#comments .channel-profile > img {
  margin: 11px 0 0 -32px !important;
  width: 32px !important;
  height: 32px !important;
}
#comments p[style] {
  width: calc(100% + 60px);
}
#comments br+br+br{
  display: none;
}
#replies.pure-g {
  margin: 0 -40px 0 -51px;
  padding: 0;
  width: calc(100% + 117px) !important;
  border-radius: 0 0 8px 8px;
}
#categories {
  width: 100%;
}
#categories a, #categories b {
  padding-left: 16px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23fff' d='M63 37.9v20.3c-.2 2.3-2.6 4.5-4.9 4.7l-20.3.1a4.3 4.3 0 01-2.9-1.4L2.3 29.2a4.3 4.3 0 010-6.1L23.1 2.3a4.3 4.3 0 016.1 0l32.5 32.5c.9.8 1.3 1.9 1.3 3.2zm-9.3 5.5a7.3 7.3 0 10-10.3 10.2 7.3 7.3 0 0010.3 0 7.1 7.1 0 000-10.2z'/%3E%3C/svg%3E") no-repeat left center / 12px;
}
#categories a {
  background: url(/tag_link.svg) no-repeat left center / 12px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23c19f9f' d='M63 37.9v20.3c-.2 2.3-2.6 4.5-4.9 4.7l-20.3.1a4.3 4.3 0 01-2.9-1.4L2.3 29.2a4.3 4.3 0 010-6.1L23.1 2.3a4.3 4.3 0 016.1 0l32.5 32.5c.9.8 1.3 1.9 1.3 3.2zm-9.3 5.5a7.3 7.3 0 10-10.3 10.2 7.3 7.3 0 0010.3 0 7.1 7.1 0 000-10.2z'/%3E%3C/svg%3E") no-repeat left center / 12px;
}
#categories a:hover, #categories a:focus {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23ca7740' d='M63 37.9v20.3c-.2 2.3-2.6 4.5-4.9 4.7l-20.3.1a4.3 4.3 0 01-2.9-1.4L2.3 29.2a4.3 4.3 0 010-6.1L23.1 2.3a4.3 4.3 0 016.1 0l32.5 32.5c.9.8 1.3 1.9 1.3 3.2zm-9.3 5.5a7.3 7.3 0 10-10.3 10.2 7.3 7.3 0 0010.3 0 7.1 7.1 0 000-10.2z'/%3E%3C/svg%3E") no-repeat left center / 12px;
}
#categories .pure-u-1.pure-md-1-3 {
  margin: 0 auto;
  width: 15%;
  white-space: nowrap;
}
#watch_sidebar, #related, #vidinfo {
  padding: 3% 5%;
  line-height: 1.3;
  font-size: 95%;
  border-radius: 4px;
  background: rgba(255,255,255,.1);
}
#vidinfo {
  margin: 0 20px;
  width: calc(90% - 40px);
}
@keyframes fade {
  from {filter: opacity(0)}
  to {filter: opacity(1)}
}
@keyframes fade-out {
  from {filter: opacity(1)}
  to {filter: opacity(0)}
}
@keyframes remove-bg {
  0,99% {background-image: url(/nothumb.svg)}
  100% {background-image: none}
}
@media screen and (max-width: 400px) {
  #categories a, #categories a:hover, #categories a:focus, #categories b {
    padding-left: 0;
    font-size: 90%;
    background: none;
  }
}
input, input[type=checkbox], input[type=radio] {
  accent-color: #c19f9f;
}
input[type=checkbox], input[type=radio] {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
input:hover, input:focus,
input[type=checkbox]:hover, input[type=radio]:hover,
input[type=checkbox]:focus, input[type=radio]:focus {
  accent-color: #ca7740;
}
#related .yt_author a {
  font-weight: 700;
}
@media screen and (max-width: 1000px) {
  .subscribers, .subscribers + p {
    font-size: 90%;
  }
}
@media screen and (max-width: 600px) {
  #logo h1.pure-menu-heading::after {
    background-size: 90%;
  }
  .h-box h3 {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .thumbcontainer {
    border: 1px solid #181414;
    box-shadow: inset 0 0 0 1px #353232;
    background: #211e1e;
  }
  #related .thumbcontainer {
    padding: 12px;
  }
  .imagethumb .icon-buttons {
    top: 2px;
    left: 20px;
    z-index: 10;
    background: none;
    contain: layout;
    animation: ease fade .1s 4s both;
  }
  .flex-left.yt_uploaded {
    position: absolute;
    right: 15px;
    bottom: 15px;
    contain: layout;
    animation: ease fade .1s 4s both;
  }
  .flex-right.yt_views, .yt_views {
    padding: 0 8px 17px 9px;
    width: calc(100% - 36px);
    position: absolute;
    top: 3px;
    right: 18px;
    z-index: 200;
    box-sizing: border-box;
    background: rgba(0,0,0,.65);
    contain: layout;
    pointer-events: none;
    animation: ease fade .1s 4s both;
    will-change: transform;
  }
  .flex-right.yt_views p {
    text-align: right;
  }
  .video-card-row + .video-card-row {
    margin-bottom: -6px;
    border-top: none;
  }
  .yt_channel {
    margin-top: 2px;
  }
  #related .yt_views {
    padding: 4px 8px;
    width: calc(100% - 6px);
    left: 3px;
    box-sizing: border-box;
    font-size: 85%;
    color: #fff;
  }
  #related .vidtitle {
    margin: 3px 0 -3px;
    line-height: 1.1;
    font-size: 85%;
  }
  #related .length {
    margin-right: -1px;
  }
  #related .yt_author {
    padding: 4px 8px;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 9999;
    box-sizing: border-box;
    font-size: 85%;
}
  .imagethumb .yt_author p.channel-name {
    padding-left: 15px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg stroke-width='.8'%3E%3Cpath fill='%23fca' d='M54 23c-1-4-5-5-9-4-2 1-6 2-13 2s-11-1-13-2c-3-1-8 0-9 4-5 17 5 41 22 41 18 0 27-26 22-41z'/%3E%3Cpath fill='%236c5d53' d='M57 14c0-5-4-8-8-10-8-4-18-5-27-3l-7 5c-3 1-5 3-6 6s-4 5-4 8c-1 6 1 12 4 17l1-10c1-4 6-6 9-4 7 2 14 2 21 1l7-2c4 0 8 3 8 7v9c2-1 3-4 4-6 1-6 0-12-2-18z'/%3E%3C/g%3E%3C/svg%3E") no-repeat left center / 12px;
  }
  .imagethumb .yt_uploaded p {
    padding-left: 16px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg stroke='%23fff' transform='translate(-.1 -.1) scale(1.03203)'%3E%3Cg fill='none'%3E%3Ccircle cx='31.1' cy='31.1' r='28.1' stroke-width='5.8'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='5.2' d='M30.7 13.2v18.5h16.5'/%3E%3C/g%3E%3Ccircle cx='31.1' cy='31.1' r='4.5' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E") no-repeat left center / 12px;
  }
}