<% content_for "header" do %>
<title>Site Information - IncogTube</title>
<% end %>

<div id="siteinfo" class="h-box">

<h3>About</h3>
<p>IncogTube is a collaborative project between <a href="https://incognet.io" target="_blank">IncogNET</a> and <a href="https://i2pplus.github.io/" target="_blank">I2P Plus</a>. At its core you’ll find the open source <a href="https://github.com/iv-org/invidious" target="_blank">Invidious code</a>, with enhancements to performance, graphics and design and overall stability completed by dr|z3d of the <a href="https://i2pplus.github.io/" target="_blank">I2P+ project</a>. All media is made available through the clearnet, I2P, Tor, and Yggdrasil networks and proxied through the Netherlands courtesy of <a href="https://incognet.io" target="_blank">IncogNET</a> who provides the hosting.</p>
<p>Information regarding privacy and the data data stored when you use the service is outlined <a href=/privacy>here</a>.

<h3>License</h3>
<ul>
<li>IncogTube is based on <a href="https://github.com/iv-org/invidious/" target="_blank">Invidious</a>, licensed under the AGPL v3, and contains various Javascript components with <a href=/licenses target=_blank>separate licenses</a></li>
<li>We maintain our own fork with various customizations at <a href="https://github.com/vituperative/invidious/" target="_blank">Github</a>.</li>
</ul>

</div>

